.list-empty {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

input, select, textarea {
    /*background: var(--card-bg);*/
    /*border: 1px solid #444;*/
    /*border-radius: 8px;*/
    /*color: #fff;*/
    /*padding: 8px 12px;*/
    /*font-size: 14px;*/
    /*max-width: 160px;*/

    background: var(--bg-input);
    border: 1px solid var(--gold-dim);
    border-radius: 8px;
    color: var(--text-parchment);
    padding: 8px 12px;
    font-size: 14px;
    max-width: 160px;
}

.card {
    /*background: var(--card-bg);*/
    /*border-radius: 16px; !* Более мягкие углы *!*/
    /*padding: 12px;*/
    /*box-shadow: 0 4px 12px rgba(0,0,0,0.4);*/
    /*border: 1px solid rgba(255,255,255,0.05);*/

    background: var(--bg-panel);
    border-radius: 16px;
    padding: 12px;
    border: 1px solid var(--gold-dim);

    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card *:not(.card) {
     pointer-events: none;
 }
.card .card, .card .avatar, .card .card-button {
    pointer-events: all;
}
.card.tier-1, .card.tier-2, .card.tier-3, .card.tier-4 {
    padding-left: 16px;
}
.card.tier-2, .card.tier-3, .card.tier-4 {
    padding-left: 16px;
    border-left: 1px solid var(--border-color);
}

.card-top,
.card-buttons,
.card-images {
    display: flex;
    gap: 6px;
}

.card-avatar {
    display: contents;
}

.card-buttons {
    flex-wrap: wrap;
}

.card-button {
    /*height: 32px;*/
    /*border-radius: 6px;*/
    /*border: 1px solid var(--active-color);*/
    /*background: var(--active-color);*/
    /*color: var(--main-color);*/
    /*cursor: pointer;*/

    height: 32px;
    border-radius: 6px;
    border: 1px solid var(--gold-dim);
    background: var(--gold);
    color: var(--bg-main);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    cursor: pointer;
    /*box-shadow: 0 6px 18px rgba(0,0,0,0.4);*/
}

.name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    color: var(--gold);
}

.line-break {
    flex-basis: 100%;
    height: 0;
}

.label {
    color: var(--text-dim)
}
.field {
    font-size: 14px;
    margin: 3px 0;
    color: var(--text-parchment);
    text-transform: capitalize;
}
.important {
    color: var(--gold);
}

.gender {
    margin-left: 5px;
}
.gender.woman {
    color: pink;
}
.gender.man {
    color: lightskyblue;
}

.avatar {
    width: 100px;
    /*height: 150px;    */
    height: min-content;
    max-height: 150px;
    border-radius: 4px;
}
.card .avatar {
    border: 1px solid var(--gold-dim);
}

.card-col {
    display: flex;
    flex-direction: column;
}

.card .card-images {
    height: auto;
}
.card .card-images .avatar {
    height: auto;
    max-height: max-content;
}